<div class="home-container">

    <div class="sidebar" *ngIf="!mobileResolution || categoryStatus">
        <app-categories (showProducts)=showAllProducts($event)></app-categories>
    </div>    
    
    <div class="product-content">
        <div class="filters">
            <div class="search-content">
                <input type="text" class="search" #searchInput placeholder="търсене всички продукти">
                <a (click)="sendSearch()">
                    <img src="assets/images/magnifier-icon.png" width="24">
                </a>
            </div>

            <div class="brand-filter-content">
                
                <select (change)="getBrandFilterResult($event)" class="brand-filter">
                    <option value="" disabled selected>филтрирайте по марка</option>
                    <option *ngFor="let brandFilter of brandsFilter" [ngValue]="brandFilter">
                    {{ brandFilter }}
                    </option>
                </select>
            </div>
        </div>
        
        <div class="wrapper" *ngIf="products">
            <div class="item" *ngFor="let product of products">
                <!-- <div class="on-sale"><img src="/assets/images/on-sale.png"></div> -->
                <p>{{ product.name }}</p>
                <img src="{{ product.images[0].path }}" [tooltip]="popTemplate" [isDisabled]="hideTooltip" triggers="mouseenter:mouseleave" (click)="openModal(productDetails, product.id)">
                <p (click)="openModal(productDetails, product.id)" class="product-details">повече информация</p>
                <div class="price">
                    <!-- <p class="old-price">1000.00 лв</p> -->
                    <p>{{ product.price }} лв</p>
                </div>
                <button (click)="saveToLocalStorage(product.id, product.name, product.price)" class="add-to-cart">вземи</button>
                
                <ng-template #popTemplate>
                    <img src="{{ product.images[1].path }}">
                    <p>{{ product.exserpt_description }}</p>
                    <p class="more-info">За повече информация натиснете върху изображението</p>
                </ng-template>
            </div>
            
            <app-cart [cartProducts]="cartProducts"></app-cart>
        </div>
    </div>

    <div class="add-item-notification" id="add-item">
        <p>Успешно добавихте </p>
    </div>

    <div class="remove-item-notification" id="remove-item">
        <p>Успешно премахнахте продукта!</p>
    </div>

    <div class="already-add-item-notification" id="already-add-item"> 
        <p>Този продукт вече е добавен!</p>
    </div>
    <!-- Alert message for already add product -->

    <ng-template #productDetails>
            <app-product-details [productId]="productId" (onClose)="closeModal()" (onAdd)="addFromProductDetails($event)"></app-product-details>
    </ng-template>


</div>


