@media only screen and (max-width: 992px) {
    .home-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & .sidebar {
            width: 100%;
            position: absolute;
            z-index: 1;
            // height: 60px;
            // max-height: 60px !important;
            // border: 3px solid red;
        }

        .product-content {
            
            width: 100%;

            & div:first-child {
            }

            & .filters {
                display: flex;
                flex-direction: column;
                border: 0;
                height: auto;
                margin-top: 16%;

                & .search-content {
                    width: 92%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 10px;

                    & .search {
                        width: 100%;
                        height: 35px;
                        background: transparent;
                    }
                }

                & .brand-filter-content {
                    width: 100%;
                    padding: 0 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                & .items-per-page {
                    width: 100%;
                    padding: 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

            }


            & .wrapper {
                // border: 3px solid green;

                & .product-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;

                    & .item {
                        width: 300px;
                        height: 280px;
                        margin: 30px;
                        border: 1px solid #ff3547;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        padding: 5px;
                        background: #fff;
                    }
                }
    
            }
        }
    
    }

    .add-item-notification {
        // position: absolute;
        // top: 10%;
        // left: 0;
        background:#00c851;
        width: 100%;
        height: 30px;
        max-height: 30px;


        p {
            color: #fff;
            width: 90%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .remove-item-notification {
        // position: absolute;
        // bottom: 10%;
        // left: 0;
        background:#ff3547;
        width: 100%;
        height: 30px;

        p {
            color: #fff;
        }
    }

    .already-add-item-notification  {
        // position: absolute;
        // bottom: 10%;
        // left: 0;
        background:#ff3547;
        width: 100%;
        height: 30px;

        p {
            color: #fff;
        }
    }
}