@media only screen and (max-width: 992px) {
    .home-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & .sidebar {
            width: 100%;
            position: absolute;
            z-index: 1;
        }

        .product-content {
            
            width: 100%;

            & .wrapper {

                & .filters-mobile {
                    display: flex;
                    flex-direction: column;
                    border: 0;
                    height: auto;
                    margin-top: 20%;
    
                    & .search-content {
                        width: 100%;
                        padding: 0 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        & .search-filter {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 10px;
                            border: 1px solid #ee5816;
                            height: 30px;
                            background: #fff;
            
                            & .search {
                                // width: 100%;                    
                                background: transparent;
                                padding-left: 7px;
                                margin: 10px 15px 10px 0;   
                                border: 0;
                            }

                            a {
                                width: 45px;
                            }
                        }
                    }
    

                    & .brand-filter-content {
                        width: 100%;
                        padding: 0 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
        
                        & .brand-filter {
                            background: #fff;
                            height: 30px;
                            border: 1px solid #ee5816;
                            border-radius: 10px;
                        }
                    }

                    & .items-per-page {
                        width: 100%;
                        padding: 0 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
        
                        & .item-chooser {
                            background: #fff;
                            height: 30px;
                            border: 1px solid #ee5816;
                            border-radius: 10px;
                        }
                    }
    
                }

                & .product-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;

                    & .item {
                        width: 300px;
                        height: 280px;
                        margin: 30px;
                        border: 1px solid #ff3547;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        padding: 5px;
                        background: #fff;
                    }
                }
    
            }
        }
    
    }

    .add-item-notification {
        // position: absolute;
        // top: 10%;
        // left: 0;
        background:#00c851;
        width: 100%;
        height: 30px;
        max-height: 30px;


        p {
            color: #fff;
            width: 90%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .remove-item-notification {
        // position: absolute;
        // bottom: 10%;
        // left: 0;
        background:#ff3547;
        width: 100%;
        height: 30px;

        p {
            color: #fff;
        }
    }

    .already-add-item-notification  {
        // position: absolute;
        // bottom: 10%;
        // left: 0;
        background:#ff3547;
        width: 100%;
        height: 30px;

        p {
            color: #fff;
        }
    }
}