<div class="home-container">

    <div class="sidebar" *ngIf="!mobileResolution || categoryStatus">
        <app-categories (showProducts)=showAllProducts($event)></app-categories>
    </div>    
    
    <div class="product-content">
        <div>
            <input type="text" class="search" #searchInput placeholder="Search Product">
            <a (click)="sendSearch()">
                <img src="assets/images/magnifier-icon.png" width="27">
            </a>
        </div>
        
        <div class="wrapper">
            <div class="item" *ngFor="let product of products">
                <p>{{ product.name }}</p>
                <img src="{{ product.images[0].path }}" (click)="openModal(productDetails, product.id)">
                <p (click)="openModal(productDetails, product.id)"class="product-details">повече информация</p>
                <p>{{ product.price }} лв</p>
                <button (click)="saveToLocalStorage(product.id, product.name, product.price)" class="add-to-cart">вземи</button>        
            </div>
            
            <app-cart [cartProducts]="cartProducts"></app-cart>
        </div>
    </div>

    <div class="add-item-notification" id="add-item">
        <p>Успешно добавихте </p>
    </div>

    <div class="remove-item-notification" id="remove-item">
        <p>Успешно премахнахте продукта!</p>
    </div>

    <div class="already-add-item-notification" id="already-add-item"> 
        <p>Този продукт вече е добавен!</p>
    </div>
    <!-- Alert message for already add product -->

    <ng-template #productDetails>
            <app-product-details [productId]="productId" (onClose)="closeModal()" (onAdd)="addFromProductDetails($event)"></app-product-details>
    </ng-template>

</div>


