<div class="menu">
    <div class="desktop-menu">
        <div class="logo"><img src="assets/images/logo.png"/></div>
        
        <div class="navigation">
            <a routerLink = '/home' routerLinkActive = 'active'>Продукти</a>
            <a routerLink = '/about-us' routerLinkActive = 'active'>За нас</a>
            <a routerLink = '/delivery' routerLinkActive = 'active'>Доставка</a>
            <a routerLink = '/contacts' routerLinkActive = 'active'>Контакти</a>
            <!-- <a routerLink = '/articles' routerLinkActive = 'active'>Полезно</a> -->
            <a (click)="openModal(showCart)" class="shopping-cart-icon">
                <img src="/assets/images/shopping-cart.png" width="32">
                <div class="items-count" *ngIf="this.cartItems > 0">
                    <p>{{ cartItems }}</p>
                </div>
            </a>
        </div>
    </div>

    <div class="mobile-menu">
        <button class="categories-toggler" (click)="showCategoriesOnMobile()" [hidden]=showCategoryButton>
            <span class="navbar-toggler-icon">
                <img src="assets/images/categories-icon.png" width="27">
            </span>
        </button>
    
        <div class="logo"><img src="assets/images/logo.png"/></div>
    
        <!-- <button class="menu-toggler" (click)="showMenuOnMobile()">
            <span class="navbar-toggler-icon">
                <img src="assets/images/64x64.png" width="26">
            </span>
        </button> -->
    </div>

    <!-- <div class="mobile-navigation" *ngIf="buttonMenuClicked"> -->
    <div class="mobile-navigation">
        <a routerLink = '/home' routerLinkActive = 'active' (click)="closeMenu()"><img src="assets/images/menu-icons/profitstore_menu.png" width="30" />Продукти</a>
        <a routerLink = '/about-us' routerLinkActive = 'active' (click)="closeMenu()"><img src="assets/images/menu-icons/profitstore_about.png" width="30" />За нас</a>
        <a routerLink = '/delivery' routerLinkActive = 'active' (click)="closeMenu()"><img src="assets/images/menu-icons/profitstore_delivery.png" width="30" />   Доставка</a>
        <a routerLink = '/contacts' routerLinkActive = 'active' (click)="closeMenu()"><img src="assets/images/menu-icons/profitstore_contact.png" width="30" />Контакти</a>
        <a (click)="openModal(showCart); closeMenu()"><img src="/assets/images/menu-icons/profitstore_cart.png" width="30">
            Количка
            <div class="items-count" *ngIf="this.cartItems > 0">
                <p>{{ cartItems }}</p>
            </div>
        </a>
    </div>

    <!-- <ul *ngFor="let searchResult of searchResults">
        <li>{{ searchResult.productTitle }}</li>
    </ul> -->

    <ng-template #showCart class="cart-preview">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Вашата количка</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-cart></app-cart>
        </div>
    </ng-template>
</div>