@import '../../../variables.scss';

.menu {
    width: 100%;
    height: 55px;
    background: #e0e0e0;
    display: flex;
    flex-shrink: 0;
    box-shadow: 5px 2px 18px#999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .desktop-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // border: 1px solid red;
        width: 100%;
    }

    .mobile-menu {
        display: none;
    }

    & .categories-toggler, .menu-toggler {
        display: none;
    }

    & .logo {
        justify-content: flex-start;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 20px; 

        & img {
            height: 30px;
        }
    }
    
    & .navigation {
        width: 50%;
        justify-content: flex-end;
        padding-right: 20px;
        display: flex;
        align-items: center;
    
        & a {
            margin-left: 20px;
            text-decoration: none;
            color: #343434;
            
        }

        .shopping-cart-icon {
            position: relative;
        }

        .items-count {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            position: absolute;
            top: -30%;
            right: -30%;
            background: #fff;
            color: $primary;
            border: 1px solid $primary;
            text-align: center;

            & p {
                margin-top: -2px;
                font-size: 14px;
                font-weight: 600;
            }
         
        }
    }

    & .mobile-navigation {
        display: none;
    }
}

a.active {
    color:  $primary !important;
    border-bottom: 1.5px solid $primary
}

*:focus, *:active {
    outline: none;
}


@media only screen and (max-width: 992px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .desktop-menu {
            display: none;
        }

        .mobile-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            & .logo {
                width: 100%;
                padding: 0;
                margin: 0;

                img {
                    // width: 40%;
                    margin: 0 auto;
                }
            }
        }

        & .categories-toggler, .menu-toggler {
            display: block;
            border: none;
            padding: 0 10px;
            cursor: pointer;
        }

        & .navigation {
            display: none;
        }

        & .mobile-navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: absolute;
            top: 55px;
            height: auto;
            background: #fff;
            padding: 10px 0;
            box-shadow: 1px 2px 18px #a1a1a1;
            z-index: -1;

            .items-count {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                position: absolute;
                top: 5%;
                right: 3%;
                background: #fff;
                color: $primary;
                border: 1px solid $primary;
                text-align: center;
    
                & p {
                    margin-top: -2px;
                    font-size: 14px;
                    font-weight: 600;
                }
             
            }

            div {
                img{
                    margin-left: 10px;
                }
            }
            
            & a {
                text-decoration: none;
                color: #343434;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 13px;
            }
        }

        & .search {
            border-radius: 10px;
            border: 1px solid $primary;
            text-align: center;
        }
    }
}

