<div class="contacts-container">
    <div class="wrapper">
        <div class="contact-form">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="name" formControlName="name" [ngClass]="{ 'error': myForm.controls.name.invalid, 'brd': myForm.controls.name.valid }">
                <input type="text" placeholder="family" formControlName="family" [ngClass]="{ 'error': myForm.controls.family.invalid, 'brd': myForm.controls.family.valid }">
                <input type="text" placeholder="phone" formControlName="phone" [ngClass]="{ 'error': myForm.controls.phone.invalid, 'brd': myForm.controls.phone.valid }">
    
                <button class="save-btn"> Save Me </button>
                <button class="reset-btn" (click)="onReset()"> Reset </button>
            </form>
        </div>

        <div class="contact-details">
            <div>
                E-mail: email@abv.bg
            </div>
            <div>
                Phone: +359878787878
            </div>
            <div>
                Facebook: http://facebook.com
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5376.463703222999!2d23.271868012463212!3d42.71351548729275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1572616567603!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>

