<div class="categories-container">
    <div class="categories-wrapper">
       <ul *ngFor="let category of categories">
           <li [ngClass]="{'show-active': selectedElement === category.id}">
               <div (click)="showSubCategories(category.id)" [ngClass]="{'highlightCategory': selectedElement === category.id}">{{ category.category_title }}</div>
               <ul *ngFor="let subCategory of subCategories" [ngClass]="{'show-element': selectedElement === category.id}">
                    <li>    
                        <div (click)="sendProducts(subCategory.id)" [ngClass]="{'highlightSubCategory': selectedSubCategory === subCategory.id}">{{ subCategory.category_title }} </div>
                    </li>
                </ul>
            </li>
       </ul>
    </div>
</div>


