
.menu {
    width: 100%;
    height: 60px;
    background: #e0e0e0;
    display: flex;
    flex-shrink: 0;
    box-shadow: 5px 2px 18px#999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & .categories-toggler, .menu-toggler {
        display: none;
    }

    & .logo {
        justify-content: flex-start;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 20px; 

        & img {
            height: 30px;
        }
    }
    
    & .navigation {
        width: 50%;
        justify-content: flex-end;
        padding-right: 20px;
        display: flex;
        align-items: center;
    
        & a {
            margin-left: 20px;
            text-decoration: none;
            color: #343434
        }
    }

    & .search {
        border-radius: 10px;
        border: 1px solid #ee5816;
        padding-left: 7px;
    }

    & .mobile-navigation {
        display: none;
    }
}

a.active {
    color:  #ee5816 !important;
    border-bottom: 1.5px solid #ee5816 
}

*:focus, *:active {
    outline: none;
}


@media only screen and (max-width: 992px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .categories-toggler, .menu-toggler {
            display: block;
        }

        & .navigation {
            display: none;
        }

        & .mobile-navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            position: absolute;
            top: 60px;
            height: auto;
            background: #fff;
            padding: 20px 0;
            box-shadow: 1px 2px 18px #a1a1a1;
            
            & a {
                text-decoration: none;
                color: #343434;
                padding-top: 10px;
            }
        }
    }
}

