@media only screen and (max-width: 992px) {
    .contacts-container {
        display: flex;
        flex-direction: column;

        .questions, .wrapper {
            width: 100%;
        }

        .questions {
            // margin-top: 700px;
        }

        .wrapper {
            margin-bottom: 20px;

            img {
                margin-right: 10px;
            }

            & .contact-form {
                form {
                    width: 100%
                }
            }
        }

        input {
            width: 100% !important;
            height: 40px !important;
            margin-top: 10px !important;
        }

        textarea {
            width: 100% !important;
            height: 100px !important;
            margin-top: 10px !important;
        }
    }   
}