<div class="contacts-container">
    <div class="questions">
        <div class="questions-content">
            <p><strong>С какво можем да сме полезни?</strong></p>
            <p>В случай, че информацията на страниците на този магазин не е достатъчна, интересувате се от продукт, който не можете да намерите или просто имате въпрос, не се колебайте да се свържете с нас използвайки удобен за вас начин - чрез email, телефонно обаждане или на страниците на нашата facebook страница.</p>
            <p><strong>Едно от нашите предимства е, че  за нас обратната връзка с клиентите е винаги важна и в основата на успешното партньорство</strong></p>
            <p>Независимо дали сте удовлетворени от нашите услуги и продукти, има нещо, което не ви харесва или просто искате да изкажете впечатление не се колебайте да ни информирате за това. Ние приемаме негативните оценки като градивни стъпки за усъвършенстване, а положителните мнения ни показват, че вървим в правилна посока.</p>  
            <p><strong>Въпроси свързани с доставка и замяна на продукти</strong></p>
            <p>Ние знаем, че по някога електронната търговия може да крие някои рискове, но в ProfitStore.bg няма скрити условия и такси. За нас е важно потребителите да бъдат максимално улеснени и удовлетворени разбира се, защото няма нищо по-хубаво от щастливи клиенти.</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="contact-form">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <!-- <input type="text" placeholder="name" formControlName="name" [ngClass]="{ 'error': myForm.controls.name.invalid, 'brd': myForm.controls.name.valid }"> -->
                <input type="text" placeholder="име" formControlName="name">
                <input type="text" placeholder="телефон" formControlName="phone" >
                <input type="text" placeholder="e-mail" formControlName="email" >
                <textarea placeholder="съобщение" formControlName="message"></textarea>
                <br/>
                <div class="rules err-msg">
                    {{ errorMessage }}
                </div>
                <br/>
                <button class="save-btn">изпрати</button>
                <!-- <button class="reset-btn" (click)="onReset()"> Reset </button> -->
            </form>
        </div>

        <div class="contact-details">
            <div> <img src="assets/images/mail-icon.png"> office@profitstore.bg </div>
            <div> <img src="assets/images/phone-icon.png"> +359/878 787 878 </div>
            <div><a href="https://www.facebook.com/ProfitStore.bg" target="_blank"><img src="assets/images/fb-icon.png"> ProfitStore.bg </a></div>
            <div> <img src="assets/images/instagram.svg"> https://www.instagram.com </div>
        </div>
    </div>
   
    <!-- <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5376.463703222999!2d23.271868012463212!3d42.71351548729275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1572616567603!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div> -->
</div>

