<div class="contacts-container">
    <div class="questions">
        <div class="questions-content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text?</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ?</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text?</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ?</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text?</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been ?</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="contact-form">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <!-- <input type="text" placeholder="name" formControlName="name" [ngClass]="{ 'error': myForm.controls.name.invalid, 'brd': myForm.controls.name.valid }"> -->
                <input type="text" placeholder="име" formControlName="name">
                <input type="text" placeholder="телефон" formControlName="phone" >
                <input type="text" placeholder="e-mail" formControlName="email" >
                <textarea placeholder="съобщение" formControlName="message"></textarea>
                <br/><br/>
                <button class="save-btn">изпрати</button>
                <!-- <button class="reset-btn" (click)="onReset()"> Reset </button> -->
            </form>
        </div>

        <div class="contact-details">
            <div> <img src="assets/images/mail-icon.png"> office@profitstore.bg </div>
            <div> <img src="assets/images/phone-icon.png"> +359/878 787 878 </div>
            <div> <img src="assets/images/fb-icon.png"> ProfitStore.bg </div>
            <div> <img src="assets/images/instagram.svg"> https://www.instagram.com </div>
        </div>
    </div>
   
    <!-- <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5376.463703222999!2d23.271868012463212!3d42.71351548729275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1572616567603!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div> -->
</div>

