<div *ngIf="!showOrderForm">
    <ul *ngFor="let item of items">
        <div class="product-information">
            <li>{{ item.title }}</li>
            <li>${{ item.price }}</li>
        </div>
        <div class="remove-button">
            <li>
                <div (click)="removeCartItems(item.id)"><img src="/assets/images/delete-button.svg" width="30" alt="Remove"></div>
            </li>
        </div>
    </ul>

    <!-- <p>{{ totalPrice }}</p> -->
    <div class="buy-button" *ngIf="cartItems.length > 0">
        <p (click)="showForm()">Вземи</p>
    </div>
</div>


<div class="order-form" *ngIf="showOrderForm">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        Name <input type="text" formControlName="firstname" [ngClass]="{'field-error': orderForm.controls.firstname.invalid, 'field-ok':  orderForm.controls.firstname.valid}"><br/>
        Family <input type="text" formControlName="family" [ngClass]="{'field-error': orderForm.controls.family.invalid, 'field-ok':  orderForm.controls.family.valid}"> <br/>
        Phone <input type="text" formControlName="phone" [ngClass]="{'field-error': orderForm.controls.phone.invalid, 'field-ok':  orderForm.controls.phone.valid}"> <br/>
        Mail <input type="text" formControlName="mail" [ngClass]="{'field-error': orderForm.controls.mail.invalid, 'field-ok':  orderForm.controls.mail.valid}"> <br/>
        Address <input type="text" formControlName="address" [ngClass]="{'field-error': orderForm.controls.address.invalid, 'field-ok':  orderForm.controls.address.valid}"> 
        <!-- <input type="text" [(ngModel)]="cartItems">
        {{ cartItems }} -->
        <button type="submit"> ORDER </button>
    </form>
</div>