<div *ngIf="!showOrderForm">
    <ul *ngFor="let item of items">
        <div class="product-information">
            <li>{{ item.title }}</li>
            <li>${{ item.price }}</li>
        </div>
        <div class="remove-button">
            <li>
                <div (click)="removeCartItems(item.id)"><img src="/assets/images/delete-button.svg" width="30" alt="Remove"></div>
            </li>
        </div>
    </ul>

    <app-cart-total-items [totalPrice]="totalPrice"></app-cart-total-items>

    <!-- <p>{{ totalPrice }}</p> -->
    <ng-container *ngIf="cartItems">
        <div class="buy-button" *ngIf="cartItems.length > 0">
            <p (click)="showForm()">Поръчай</p>
        </div>
    </ng-container>
</div>


<div class="order-form" *ngIf="showOrderForm">

    Вашата поръчка:
    <ul *ngFor="let item of items">
        <div class="product-information">
            <li>{{ item.title }}</li>
            <li>${{ item.price }}</li>
        </div>
        <div class="remove-button">
            <li>
                <div (click)="removeCartItems(item.id)"><img src="/assets/images/delete-button.svg" width="30" alt="Remove"></div>
            </li>
        </div>
    </ul>

    <div class="total-sum">
        <span>Дължима сума: </span><span>{{ totalPrice }} лв.</span>
    </div>

    <!-- <h4>Начин на плащане - наложен платеж</h4> -->
    
    <div class="order-change">
        <span>
            <input type="radio" name="showCitizenForm" (click)="clearForm(orderFormCompany)" [checked]="showCitizenForm" [(ngModel)]="showCitizenForm" [value]="true"> физическо лице
        </span>
        <span>
            <input type="radio" name="showCitizenForm" (click)="clearForm(orderForm)" [checked]="!showCitizenForm" [(ngModel)]="showCitizenForm" [value]="false"> юридическо лице
        </span>
    </div>

    <div class="order-form-citizen" *ngIf="showCitizenForm">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <div>Name <input type="text" formControlName="firstname" [ngClass]="{'field-error': orderForm.controls.firstname.invalid, 'field-ok':  orderForm.controls.firstname.valid}"></div>
            <div>Family <input type="text" formControlName="family" [ngClass]="{'field-error': orderForm.controls.family.invalid, 'field-ok':  orderForm.controls.family.valid}"></div>
            <div>Phone <input type="text" formControlName="phone" [ngClass]="{'field-error': orderForm.controls.phone.invalid, 'field-ok':  orderForm.controls.phone.valid}"></div>
            <div>Mail <input type="text" formControlName="mail" [ngClass]="{'field-error': orderForm.controls.mail.invalid, 'field-ok':  orderForm.controls.mail.valid}"></div>
            <div>Address <textarea formControlName="address" [ngClass]="{'field-error': orderForm.controls.address.invalid, 'field-ok':  orderForm.controls.address.valid}"></textarea></div>        
            <!-- <input type="text" [(ngModel)]="cartItems">
            {{ cartItems }} -->
        </form>
        <button type="submit" class="order-btn"> Поръчай </button>
    </div>
    
    <div class="order-form-company" *ngIf="!showCitizenForm">
        <form [formGroup]="orderFormCompany" (ngSubmit)="onSubmit()">
            <div>Company Name <input type="text" formControlName="companyname" ></div>
            <div>Contact Person <input type="text" formControlName="contactperson" ></div>
            <div>Company Number <input type="text" formControlName="companynumber"></div>
            <div>VAT Number <input type="text" formControlName="vatnumber" ></div>
            <br/>
        </form>
        <button type="submit" class="order-btn"> Поръчай </button>
    </div>
</div>