<div class="footer">
    <div class="footer-nav">
      <div>
        <a href="https://www.facebook.com/ProfitStorebg-103517127779231/" target="_blank"><img src="/assets/images/fb-icon.png" width="26"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/assets/images/instagram.svg" width="25"></a>
      </div>
      <div>
        <a routerLink = '/home' routerLinkActive = 'active'>Продукти</a>
        <!-- <a routerLink = '/contacts' routerLinkActive = 'active'>Контакти</a> -->
        <a (click)="openModal(showCart); closeMenu()">Количка</a>
        <a (click)="showConditions(conditions)">Условия</a>
      </div>
      
    </div>
  </div>

  <ng-template #conditions>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Условия</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ПРАВИЛО НОМЕР 1:
      ВИНАГИ ГОВОРИ ЗА МАГАЗИНА
    </div>
  </ng-template>

  <ng-template #delivery>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Доставка</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      dostavka
    </div>
  </ng-template>

  <ng-template #showCart class="cart-preview">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Вашата количка</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-cart></app-cart>
    </div>
  </ng-template>