<div class="articles-container">
    <div class="article-content">
        <div class="article-wrapper">
            <div *ngFor="let article of articles" class="article">
                <a routerLink="/single-article/{{ article.id }}" routerLinkActive="active">
                    <div class="article-heading">{{ article.article_title }}</div>
                </a>
                <div class="article-image"><img src="assets/images/blog-post.jpg"/></div>
                <div class="article-text">{{ article.article_content }}</div>
                <div class="date-author">
                    <div class="article-date">{{ article.created_at }}</div>
                    <div class="article-author">by Georgi Kondev</div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="articles-suggestion">
        <div class="suggestion-wrapper">
            <ul>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
                <li>Post 4</li>
                <li>Post 5</li>
            </ul>
        </div>
    </div>
</div>