<div class="main">
  <app-menu (sendSearch)="findResults($event)"></app-menu>
    
  <div class="content">
    <!-- <router-outlet></router-outlet> -->
    <app-home [getSearchedResults]="keyEvent"></app-home>
  </div>
  
  <div class="footer">
    <div class="footer-nav">
      <a href="#" target="_blank">Условия</a>
      <a href="#" target="_blank">Доставка</a>
      <a href="#" target="_blank">Контакти</a>
      <!-- <a href="#" target="_blank">Prices</a>
      <a routerLink='/wiki-search' routerLinkActive='active'>Wiki Search</a> -->
    </div>
  </div>
</div>
