<div *ngIf="!showOrderForm">
    
    <app-cart-total-items [totalPrice]="totalPrice" [items]="items" (onRemove)="removeCartItems($event)"></app-cart-total-items>

    <!-- <p>{{ totalPrice }}</p> -->
    <ng-container *ngIf="cartItems">
        <div class="buy-button" *ngIf="cartItems.length > 0">
            <p (click)="showForm()">Поръчай</p>
        </div>
    </ng-container>
</div>


<div class="order-form" *ngIf="showOrderForm">

    <app-cart-total-items [totalPrice]="totalPrice" [items]="items" (onRemove)="removeCartItems($event)"></app-cart-total-items>

    <div class="total-sum">
        <span>Дължима сума: </span><span>{{ totalPrice }} лв.</span>
    </div>

    <!-- <h4>Начин на плащане - наложен платеж</h4> -->
    
    <div class="order-change">
        <span>
            <input type="checkbox" name="invoice" [checked]="invoice" [(ngModel)]="invoice" [value]="false"> юридическо лице
        </span>
    </div>

    <div class="order-form-citizen" *ngIf="showCitizenForm">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <div>Име* <input type="text" formControlName="firstname" [ngClass]="{'field-error': orderForm.controls.firstname.invalid, 'field-ok':  orderForm.controls.firstname.valid}"></div>
            <div>Фамилия* <input type="text" formControlName="family" [ngClass]="{'field-error': orderForm.controls.family.invalid, 'field-ok':  orderForm.controls.family.valid}"></div>
            <div>Телефон*<input type="text" formControlName="phone" [ngClass]="{'field-error': orderForm.controls.phone.invalid, 'field-ok':  orderForm.controls.phone.valid}"></div>
            <div>E-mail*<input type="text" formControlName="mail" [ngClass]="{'field-error': orderForm.controls.mail.invalid, 'field-ok':  orderForm.controls.mail.valid}"></div>
            <div>Адрес или офис на куриер*<textarea formControlName="address" [ngClass]="{'field-error': orderForm.controls.address.invalid, 'field-ok':  orderForm.controls.address.valid}"></textarea></div>
            <div></div>
            <div>Област*:
                <select formControlName="region" [ngClass]="{'field-error': orderForm.controls.region.value == 0, 'field-ok': orderForm.controls.region.value != 0}">
                    <option value="1">Благоевград</option>
                    <option value="2">Бургас</option>
                    <option value="3">Варна</option>
                    <option value="4">Велико Търново</option>
                    <option value="5">Видин</option>
                    <option value="6">Враца</option>
                    <option value="7">Габрово</option>
                    <option value="8">Добрич</option>
                    <option value="9">Кърджали</option>
                    <option value="10">Кюстендил</option>
                    <option value="11">Ловеч</option>   
                    <option value="12">Монтана</option>
                    <option value="13">Пазарджик</option>
                    <option value="14">Перник</option>
                    <option value="15">Плевен</option>
                    <option value="16">Пловдив</option>
                    <option value="17">Разград</option>
                    <option value="18">Русе</option>
                    <option value="19">Силистра</option>
                    <option value="20">Сливен</option>
                    <option value="21">Смолян</option>
                    <option value="22">Софийска област</option>
                    <option value="23">София</option>
                    <option value="24">Стара Загора</option>                   
                    <option value="25">Търговище</option>
                    <option value="26">Хасково</option>
                    <option value="27">Шумен</option>
                    <option value="28">Ямбол</option>
                </select>
            </div>
            <div>Населено място*<input formControlName="city" [ngClass]="{'field-error': orderForm.controls.city.invalid, 'field-ok':  orderForm.controls.city.valid}"></div>
            <div class="rules"><input type="checkbox" formControlName="rules">Съгласен съм с общите условия*</div>
            <div class="rules">* задължително поле</div>
            <div class="rules err-msg">{{ errorMessage }}</div>
             
            <br/>
            
            <ng-container *ngIf="invoice">
                <div>Име на фирмата <input type="text" formControlName="companyname" class="invoice-field"></div>
                <div>МОЛ <input type="text" formControlName="contactperson" class="invoice-field"></div>
                <div>ЕИК(Булстат)<input type="text" formControlName="companynumber" class="invoice-field"></div>
                <div>ЕИК по ДДС <input type="text" formControlName="vatnumber" class="invoice-field"></div>
                <br/>
            </ng-container>
           
            <button type="submit" class="order-btn"> Поръчай </button>
            
        </form>

    </div>
</div>