/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

.modal {
    // position: absolute;
    // top: 20%;
    // left: 30%;
    // width: 40%;
    // border: 1px solid #e0e0e0;
    // border-radius: 5px;
    // height: 50%;
    // max-height: 60%;
    // overflow-y: auto;
    // background: white;
    // box-shadow: 1px 2px 18px #a1a1a1;

    .modal-header {
        border-bottom: 1px solid #a1a1a1;

        .modal-title {
            padding: 0 15px;
        }
    }

    .modal-details {
        // display: flex;
        // flex-direction: row;
    }

    .close {
        position: absolute;
        right: 2%;
        top: 0;
        background: transparent;
        border: 0;
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
    }

    .gallery-details {
        float: left;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        width: 75%;
        min-width: 70%;
        
        .panel-main {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 7px;
            
            img {
                width: 100%;
            }
        }

        .panel-thumbnails {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img {
                width: 120px
            }

            img:not(:last-child) {
                border: 1px solid red;
            }
        }
        @keyframes fadeIn {  
            to {
                opacity: 1;
            }
        }

        .fade-in {
            opacity: 0;
            animation: fadeIn 0.5s ease-in 1 forwards;
        }
    }
    
    .product-description {
        // padding: 0 20px;
        padding: 0;
    }
}
  
*:focus, *:active {
    outline: none;
}

@media only screen and (max-width: 992px) {
    .modal {
        
        width: 100vw;

        .modal-details {
            display: flex;
            flex-direction: column;
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gallery-details {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .product-description {
                padding: 20px
            }
        }
    }
}