<div class="home-container">

    <div class="sidebar" *ngIf="!mobileResolution || categoryStatus">
        <app-categories (showProducts)=showAllProducts($event)></app-categories>
    </div>    
    
    <div class="wrapper">
        <div class="item" *ngFor="let product of products">
            <p>{{ product.productTitle }}</p>
            <img src="{{ product.productImage }}" (click)="openModal(productDetails, product.id)">
            <p (click)="sendMe(product)" class="product-details">повече информация</p>
            <p>{{ product.productPrice }} лв</p>
            <button (click)="saveToLocalStorage(product.id, product.productTitle, product.productPrice)" class="add-to-cart">добави</button>        
        </div>
        
        <app-cart [cartProducts]="cartProducts"></app-cart>
    </div>

    <div class="add-item-notification" id="add-item">
        <p>Успешно добавихте </p>
    </div>

    <div class="remove-item-notification" id="remove-item">
        <p>Успешно премахнахте продукта!</p>
    </div>

    <div class="already-add-item-notification" id="already-add-item"> 
        <p>Този продукт вече е добавен!</p>
    </div>
    <!-- Alert message for already add product -->

    <ng-template #productDetails>
            <app-product-details [productId]="productId" (onClose)="closeModal()"></app-product-details>
    </ng-template>

</div>


